@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    background: url('4776.jpg') no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(4, 241, 194, 60%);
    padding: 18px 48px;
    gap: 10px;
    flex-wrap: nowrap;
    color: white;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: 700;
}

.brand img { 
    border-radius: 6px; 
}

.menu {
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.05rem;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}
.menu li:hover {
    background-color: aquamarine;
    color: black;
}

.nav-icon {
    display: none !important;
    font-size: 26px;
}

.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding: 6px;
}

.cards-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 22px;
    padding: 48px 30px;
    margin: auto
}

.card-item {
    background: rgba(4, 241, 194, 60%);
    border-radius: 12px;
    padding: 28px;
    text-align: center;
    color: white;
}

.card-item:hover {
    box-shadow: 0 12px 28px rgba(255, 255, 255, 0.97);
    color: black;
}

.icon {
    font-size: 70px;
    margin-bottom: 12px;
    display: inline-block;
}

.card h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 22px;
    color: #0a0a0a;
}

@media (max-width: 768px) {
  .navbar {
    padding: 14px 28px;
    flex-wrap: nowrap;
  }

  .menu {
    display: none !important;
  }

  .menu-btn {
    display: none !important;
  }

  .nav-icon {
    display: block !important;
    font-size: 26px; 
  }

  .cards-area {
    flex-wrap: wrap;
    padding: 28px 18px;
    gap: 18px;
    margin: auto;
  }
}


@media (max-width: 480px) {
  .navbar {
    padding: 10px 12px;
    gap: 8px;
  }

 
  .menu {
    display: none !important;
  }

  
  .nav-icon {
    display: none !important;
  }

  .menu-btn {
    display: block !important;
    font-size: 28px;
    cursor: pointer;
  }

  .cards-area {
    flex-direction: column;
    align-items: stretch;
    padding: 12px;
    gap: 14px;
  }
}